.claude/
.gemini/
.idea/
.vscode/

Tesol Prime/
mobileappbackend/

mobileappuiflutter/.dart_tool/
mobileappuiflutter/build/
mobileappuiflutter/.flutter-plugins
mobileappuiflutter/.flutter-plugins-dependencies
mobileappuiflutter/.metadata
mobileappuiflutter/android/.gradle/
mobileappuiflutter/android/app/build.gradle.cache
mobileappuiflutter/android/local.properties
